<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Tri Vuong's blog</title>
    
        <meta name="description" content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat." />
    
    
    <link charset="utf-8" href="http://fonts.googleapis.com/css?family=Marmelad" media="screen" rel="stylesheet" type="text/css">
    
    <link charset="utf-8" href="/css/master.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div id='thin_strip'></div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
    <header id='header'>

      <div class='inner'>
        <ul id='social_networks'>
            <li>
                <a style="cursor:pointer" title="/" title="Home">
                    <img src="http://red-green-tumblr.heroku.com/images/home_icon.png" id="home">
                </a>

            </li>
          <li>
            <a style="cursor:pointer" title='http://twitter.com/trivektor' title="Twitter">
              <img id="twitter" src="http://red-green-tumblr.heroku.com//images/twitter_social.png">
            </a>
          </li>
          <li>
            <a style="cursor:pointer" title='http://facebook.com/trivuong' title="Facebook">

              <img id="facebook" src="http://red-green-tumblr.heroku.com//images/facebook_social.png">
            </a>
          </li>
          <li>
            <a style="cursor:pointer" title='http://github.com/trivektor' title="Github">
              <img id="github" src="http://red-green-tumblr.heroku.com//images/github_social.png">
            </a>
          </li>
        </ul>

        <div id='search_box'>
            <form action="/search" method="get">
          <input id='search' placeholder='Looking for something?' type='text' name="q" value="" />
          </form>
        </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
      </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
    </header>

    <div class='blog_title_wrapper'>
      <div class='blog_title'>
        <div class='left'>
          <div class='right'>

            <h1 class='title'>
                <a style="cursor:pointer" title="/">
                    Tri Vuong's blog
                </a>
            </h1>

          </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
        </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
      </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
    </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
    <div id='main_content'>
      <div id='entries_column'>

        <div class='top'></div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
        <div class='middle'>
          
          
            <div class="entry">
              <div class="calendar">
                <div class="month">Nov</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                <div class="day">08</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="content">
                
                <!-- TEXT -->
                
                <!-- /TEXT -->
                
                <!-- PHOTO -->
    							
								<!-- /PHOTO -->
								
								<!-- PHOTOSET -->
								
								<!-- /PHOTOSET -->

								
								<!-- VIDEO -->
								
								<!-- /VIDEO -->
								
								<!-- AUDIO -->
								
								<!-- /AUDIO -->
								
								<!-- QUOTE -->
								
                  <p class="quote">
                    It does not matter how slow you go so long as you do not stop.</p>
									<div class="quote_source">Wisdom of <a style="cursor:pointer" title="http://en.wikipedia.org/wiki/Confucius">Confucius</a></div>

								
								<!-- QUOTE -->
								
                <!-- LINK -->
                
                <!-- /LINK -->
                
                <!-- CHAT -->
								
								<!-- /CHAT -->
                
                
                  <div class="tags_section">
                      <div class="tags_list">
                          
                              <a class="tag" href="http://demo.tumblr.com/tagged/wisdom">wisdom</a>

                          
                      </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                  </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                
            
                
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="separator">
                <img src="http://red-green-tumblr.heroku.com/images/scissor.png" class="scissor" />
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              
            </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

          
          
            <div class="entry">
              <div class="calendar">
                <div class="month">Nov</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                <div class="day">08</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="content">

                
                <!-- TEXT -->
                
                <!-- /TEXT -->
                
                <!-- PHOTO -->
    							
									<div class="photo_display">
										<a class="photo_highres" href="http://www.tumblr.com/photo/1280/459265350/1/tumblr_kzjlfiTnfe1qz4rgh"></a>
										<a style="cursor:pointer" title="http://www.tumblr.com/photo/1280/459265350/1/tumblr_kzjlfiTnfe1qz4rgh"><img alt="Passing through Times Square by&nbsp;Mareen Fischinger" src="http://26.media.tumblr.com/tumblr_kzjlfiTnfe1qz4rgho1_500.jpg" /></a>
									</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
									<p class="photo_caption">

									  <p>Passing through Times Square by <a style="cursor:pointer" title="http://www.mareenfischinger.com/">Mareen Fischinger</a></p>
									</p>
								
								<!-- /PHOTO -->
								
								<!-- PHOTOSET -->
								
								<!-- /PHOTOSET -->
								
								<!-- VIDEO -->
								
								<!-- /VIDEO -->
								
								<!-- AUDIO -->

								
								<!-- /AUDIO -->
								
								<!-- QUOTE -->
								
								<!-- QUOTE -->
								
                <!-- LINK -->
                
                <!-- /LINK -->
                
                <!-- CHAT -->
								
								<!-- /CHAT -->
                
                
                  <div class="tags_section">
                      <div class="tags_list">

                          
                              <a class="tag" href="http://demo.tumblr.com/tagged/Mareen-Fischinger">Mareen Fischinger</a>
                          
                              <a class="tag" href="http://demo.tumblr.com/tagged/New-York-City">New York City</a>
                          
                              <a class="tag" href="http://demo.tumblr.com/tagged/Times-Square">Times Square</a>
                          
                      </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                  </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                
            
                
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

              <div class="separator">
                <img src="http://red-green-tumblr.heroku.com/images/scissor.png" class="scissor" />
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              
            </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
          
          
            <div class="entry">
              <div class="calendar">
                <div class="month">Nov</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

                <div class="day">08</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="content">
                
                <!-- TEXT -->
                
                <!-- /TEXT -->
                
                <!-- PHOTO -->
    							
								<!-- /PHOTO -->

								
								<!-- PHOTOSET -->
								
								<!-- /PHOTOSET -->
								
								<!-- VIDEO -->
								
								<!-- /VIDEO -->
								
								<!-- AUDIO -->
								
								<!-- /AUDIO -->
								
								<!-- QUOTE -->
								
								<!-- QUOTE -->
								
                <!-- LINK -->

                
                  <a class="title" href="http://" >My favorite web site</a>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                
                <!-- /LINK -->
                
                <!-- CHAT -->
								
								<!-- /CHAT -->
                
                
            
                
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="separator">

                <img src="http://red-green-tumblr.heroku.com/images/scissor.png" class="scissor" />
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              
            </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
          
          
            <div class="entry">
              <div class="calendar">
                <div class="month">Nov</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                <div class="day">08</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="content">
                
                <!-- TEXT -->
                
                <!-- /TEXT -->
                
                <!-- PHOTO -->
    							
								<!-- /PHOTO -->
								
								<!-- PHOTOSET -->
								
								<!-- /PHOTOSET -->

								
								<!-- VIDEO -->
								
								<!-- /VIDEO -->
								
								<!-- AUDIO -->
								
								<!-- /AUDIO -->
								
								<!-- QUOTE -->
								
								<!-- QUOTE -->
								
                <!-- LINK -->
                
                <!-- /LINK -->
                
                <!-- CHAT -->

								
									
									<ul>
										
										<li class="odd 1">
											<strong>Jack:</strong> Hey, you know what sucks?
										</li>
										
										<li class="even 2">
											<strong>Lindsey:</strong> vaccuums
										</li>
										
										<li class="odd 1">

											<strong>Jack:</strong> Hey, you know what sucks in a metaphorical sense?
										</li>
										
										<li class="even 2">
											<strong>Lindsey:</strong> black holes
										</li>
										
										<li class="odd 1">
											<strong>Jack:</strong> Hey, you know what just isn&#039;t cool?
										</li>

										
										<li class="even 2">
											<strong>Lindsey:</strong> lava?
										</li>
										
									</ul>
								
								<!-- /CHAT -->
                
                
                  <div class="tags_section">
                      <div class="tags_list">
                          
                              <a class="tag" href="http://demo.tumblr.com/tagged/funny">funny</a>

                          
                      </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                  </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                
            
                
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="separator">
                <img src="http://red-green-tumblr.heroku.com/images/scissor.png" class="scissor" />
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              
            </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

          
          
            <div class="entry">
              <div class="calendar">
                <div class="month">Nov</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                <div class="day">07</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="content">

                
                <!-- TEXT -->
                
                <!-- /TEXT -->
                
                <!-- PHOTO -->
    							
								<!-- /PHOTO -->
								
								<!-- PHOTOSET -->
								
								<!-- /PHOTOSET -->
								
								<!-- VIDEO -->
								
								<!-- /VIDEO -->
								
								<!-- AUDIO -->

								
									<div class="AUDIO_info">
										<div class="AUDIO_info_album">
											<div class="AUDIO_info_album_overlay"></div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
											<img  alt="" src="http://28.media.tumblr.com/tumblr_ksc4i2SkVU1qz8ouqo1_r2_cover.jpg" />
											<div class="AUDIO_info_album_none"></div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
										</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
										<div class="AUDIO_info_float">

											<div class="AUDIO_info_player">
												<div class="AUDIO_info_player_embed">
													<script type="text/javascript" language="javascript" src="http://assets.tumblr.com/javascript/tumblelog.js?707"></script><span id="audio_player_459260683">[<a style="cursor:pointer" title="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">Flash 9</a> is required to listen to audio.]</span><script type="text/javascript">replaceIfFlash(9,"audio_player_459260683",'\x3cdiv class=\x22audio_player\x22\x3e<embed type="application/x-shockwave-flash" src="http://assets.tumblr.com/swf/audio_player.swf?audio_file=http://www.tumblr.com/audio_file/459260683/tumblr_ksc4i2SkVU1qz8ouq&color=E4E4E4" height="27" width="207" quality="best" wmode="opaque"></embed>\x3c/div\x3e')</script>
												</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
												
											</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

											<div class="AUDIO_info_ta">
												<div class="AUDIO_info_track">
													<div class="AUDIO_info_none">Unknown</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
													<div class="AUDIO_info_overlay">Fingers Crossed</div>
												</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
												<div class="AUDIO_info_artist">
													<div class="AUDIO_info_none">Unknown</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

													<div class="AUDIO_info_overlay"><a style="cursor:pointer" title="http://last.fm/artist/Allison Weiss" target="_blank">Allison Weiss</a></div>
												</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
											</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
											<div class="AUDIO_info_plays">
												<div class="AUDIO_info_plays_count">2,309,544</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
												<div class="AUDIO_info_plays_label" style="text-transform:lowercase;">Plays</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

											</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
										</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
									</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
									<p><strong><a style="cursor:pointer" title="http://allisonweiss.tumblr.com/">Allison Weiss</a> —</strong> Fingers Crossed</p>
								
								<!-- /AUDIO -->

								
								<!-- QUOTE -->
								
								<!-- QUOTE -->
								
                <!-- LINK -->
                
                <!-- /LINK -->
                
                <!-- CHAT -->
								
								<!-- /CHAT -->
                
                
            
                
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="separator">

                <img src="http://red-green-tumblr.heroku.com/images/scissor.png" class="scissor" />
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              
            </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
          
          
            <div class="entry">
              <div class="calendar">
                <div class="month">Nov</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                <div class="day">07</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="content">
                
                <!-- TEXT -->
                
                  
                    <a class='title' href="http://demo.tumblr.com/post/232/an-example-post">An example post</a>
                  
                  <p>Lorem ipsum dolor sit amet, consectetuer <a style="cursor:pointer" title="/">adipiscing elit</a>. Aliquam nisi lorem, pulvinar id, commodo feugiat, vehicula et, mauris. Aliquam mattis porta urna. Maecenas dui neque, rhoncus sed, vehicula vitae, auctor at, nisi. Aenean id massa ut lacus molestie porta. Curabitur sit amet quam id libero suscipit venenatis.</p>
<ul><li>Lorem ipsum dolor sit amet.</li>

<li>Consectetuer adipiscing elit. </li>
<li>Nam at tortor quis ipsum tempor aliquet.</li>
</ul><p>Cum sociis <a style="cursor:pointer" title="/">natoque penatibus</a> et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse sed ligula. Sed volutpat odio non turpis gravida luctus. Praesent elit pede, iaculis facilisis, vehicula mattis, tempus non, arcu.</p>
<blockquote>Donec placerat mauris commodo dolor. Nulla tincidunt. Nulla vitae augue.</blockquote>
<p>Suspendisse ac pede. Cras <a style="cursor:pointer" title="/">tincidunt pretium</a> felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque porttitor mi id felis. Maecenas nec augue. Praesent a quam pretium leo congue accumsan.</p>
                
                <!-- /TEXT -->

                
                <!-- PHOTO -->
    							
								<!-- /PHOTO -->
								
								<!-- PHOTOSET -->
								
								<!-- /PHOTOSET -->
								
								<!-- VIDEO -->
								
								<!-- /VIDEO -->
								
								<!-- AUDIO -->
								
								<!-- /AUDIO -->
								
								<!-- QUOTE -->

								
								<!-- QUOTE -->
								
                <!-- LINK -->
                
                <!-- /LINK -->
                
                <!-- CHAT -->
								
								<!-- /CHAT -->
                
                
            
                
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="separator">
                <img src="http://red-green-tumblr.heroku.com/images/scissor.png" class="scissor" />

              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              
            </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
          
          
            <div class="entry">
              <div class="calendar">
                <div class="month">Oct</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
                <div class="day">01</div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="content">
                
                <!-- TEXT -->
                
                  
                  <p>Lorem ipsum dolor sit amet, consectetuer <a style="cursor:pointer" title="/">adipiscing elit</a>. Aliquam nisi lorem, pulvinar id, commodo feugiat, vehicula et, mauris. Aliquam mattis porta urna. Maecenas dui neque, rhoncus sed, vehicula vitae, auctor at, nisi. Aenean id massa ut lacus molestie porta. Curabitur sit amet quam id libero suscipit venenatis.</p>
                
                <!-- /TEXT -->
                
                <!-- PHOTO -->
    							
								<!-- /PHOTO -->

								
								<!-- PHOTOSET -->
								
								<!-- /PHOTOSET -->
								
								<!-- VIDEO -->
								
								<!-- /VIDEO -->
								
								<!-- AUDIO -->
								
								<!-- /AUDIO -->
								
								<!-- QUOTE -->
								
								<!-- QUOTE -->
								
                <!-- LINK -->

                
                <!-- /LINK -->
                
                <!-- CHAT -->
								
								<!-- /CHAT -->
                
                
            
                
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              <div class="separator">
                <img src="http://red-green-tumblr.heroku.com/images/scissor.png" class="scissor" />
              </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
              
            </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

          
         
         
          
         
        </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
        <div class='bottom'></div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
      </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
      <div id='profile_picture_column'>
        <img id="profile_picture" src="http://red-green-tumblr.heroku.com/images/tri_polaroid.png" />
        
      </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
      <div class='clearfloat'></div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

      
      
    </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
  </body>
  <footer id='footer'>
    <a style="cursor:pointer" title='' id='powered'>

      <img src="http://red-green-tumblr.heroku.com//images/powered.png">
    </a>
    <div id='copyright'>
      &copy; 2012. Red Green Tumblr by
      <a style="cursor:pointer" title='http://trivuong.com'>Tri Vuong.</a>

      Icons by
      <a style="cursor:pointer" title='http://www.piwidesign.de'>Philipp Walter</a>.
      Background by 
      <a style="cursor:pointer" title='http://awesomewallpapersblog.com/author/benjammin1/'>Ben</a>
    </div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>

    <div class='clearfloat'></div><script> window.tumblr_preview_marker || (window.tumblr_preview_marker = 0); parent.preview_load_state(window.tumblr_preview_marker++);</script>
  </footer>
</html>
<script>document.close();</script>