* {
  margin:0;
  padding:0;
}

body {
  font-family:Georgia;
  font-family: 'Marmelad', sans-serif;
  font-size:12px;
  background:url(/images/wood-wallpaper.jpg) repeat fixed;
  padding-bottom:30px;
  color:#444;
}

ul, ol {
  list-style:none;
}

a {
  outline-style:none;
  text-decoration:none;
  color:#DC2509;
}

input::-webkit-input-placeholder { color:#FFE8CC }

.clearfloat {
  clear:both;
}

#thin_strip {
  background:url(/images/thin_strip.png) repeat-x;
  height:2px;
}

#header {
  background:url(/images/header_bg.png) repeat-x;
  height:60px;
  .inner {
    width:844px;
    margin:0 auto;
    padding-top:9px;
    overflow:hidden;
  }
}

#social_networks {
  float:left;
  width:400px;
  margin-top:9px;
  margin-left:13px;
  li {
    float:left;
    margin-right:52px;
  }
  
  #facebook { position:relative; top:-5px }
  #github { position:relative; top:-3px }
}

#search_box {
  float:right;
  width:204px;
  height:38px;
  background:url(/images/search_box_bg.png) no-repeat;
  
  #search {
    background:none;
    color:#ffe8cc;
    margin-left:37px;
    margin-top:12px;
    border:0;
    width:156px;
    outline:none;
    outline-style:none;
  }
}

.blog_title_wrapper {
  width:844px;
  margin:30px auto;
  overflow:hidden;
  .blog_title {
    float:left;
    margin-left:6px;
    .left {
      background:url(/images/blog_title_left.png) no-repeat;
      padding-left:14px;
    }
    .title {
      font-weight:normal;
      font-size:27px;
      background:url(/images/blog_title_center.png) repeat-x;
      text-align:center;
      line-height:63px;
      text-shadow:0 1px 3px #111;
      height:67px;
      padding:0 12px;
      a {
        color:#fff; font-weight:normal;
      }
    }
    .right {
      background:url(/images/blog_title_right.png) no-repeat bottom right;
      padding-right:15px;
    }
  } 
}

#main_content {
  width:844px;
  margin:0 auto;
}

#entries_column {
  float:left;
  width:642px;
  .top {
    background:url(/images/entry_col_bg.png) no-repeat;
    padding-top:55px;
  }
  .middle {
    background:url(/images/entry_column_middle_bg.png) repeat-y;
    padding:1px 50px;
  }
  .bottom {
    background:url(/images/entry_col_bottom_bg.png) no-repeat;
    padding-bottom:73px;
  }
  .entry {
    overflow:hidden;
    .west {
      float:left;
      width:54px;
    }
    .calendar  {
      width:54px;
      height:64px;
      padding-top:4px;
      text-align:center;
      background:url(/images/calendar.png) no-repeat;
      .month {
        color:#fff;
        text-transform:uppercase;
        font-size:10px;
      }
      .day {
        padding:4px;
        font-size:28px;
      }
    }
    .type {
      width:16px;
      margin:10px auto 0;
      display:block;
    }
    .note_count {
      display:block;
      background:#55a1d5;
      color:#fff;
      text-align:center;
      border-radius:20px;
      margin-top:10px;
      text-shadow:0 1px 1px #444;
      box-shadow:0 1px 0 #eaf4ff inset;
      background:url(/images/chat_blue.png) repeat-x bottom left #3da6ff;
      border:1px solid #0d3a64;
      font-size:10px;
      padding:1px 0;
    }
    .content {
      margin-left:93px;
      .title {
        font-size:22px;
        margin-bottom:20px;
      }
      p {
        margin:15px 0;
        line-height:22px;
      }
    }
  }
}

.conversation {
  overflow:hidden;
  li { margin-bottom:14px; box-shadow:0 2px 3px -2px #222; border-radius:4px; float:left; clear:both }
  .inner {
    padding:5px 11px;
    border-radius:4px;
    color:#fff;
    text-shadow:0 1px 1px #444;
  }
  .odd {
    float:left;
    box-shadow:0 1px 0 #f0ffd2 inset;
    background:url(/images/chat_green.png) repeat-x bottom left #94c626;
    border:1px solid #48580a;
  }
  .even {
    float:right;
    box-shadow:0 1px 0 #eaf4ff inset;
    background:url(/images/chat_blue.png) repeat-x bottom left #3da6ff;
    border:1px solid #0d3a64;
  } 
}

ol.notes {
  li {
    list-style:none;
    margin-bottom:5px;
  }
}

#profile_picture_column {
  float:right;
  width:175px;
  text-align:center;
  
  #profile_picture {
    margin-bottom:15px;
    margin-top:6px;
  }
  
  #askme_wrapper {
    box-shadow:0px 9px 8px -2px #111;
  }
  
  #askme {
    background:url(/images/ask_bg.jpg) repeat-x left bottom #54b0ff;
    padding:5px 25px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border:1px solid #124591;
    border-radius:4px;
    box-shadow:0 1px 1px #d7f3ff inset;
    text-shadow:0 1px 1px #111;
  }
}

.quote {
  margin-top:0 !important;
  font-size:20px;
  line-height:26px !important;
}

.separator {
  width:100%;
  border-top:1px dashed #bbb;
  text-align:center;
  margin:50px 0 40px;
  .scissor {
    position:relative;
    top:-8px;
  }
}

.tags_section {
  margin-top:35px; overflow:hidden;
  h3 { color:#ed7248; font-weight:normal; margin-bottom:10px; font-size:16px; float:left; margin-right:15px }
  .tags_list {
    float:left; 
    .tag { 
      float:left;
      background:url(/images/tag_bg.png) repeat-x #94c626 left bottom; 
      padding:3px 7px; 
      border-radius:4px;
      border:1px solid #48580a;
      color:#fff;
      display:inline-block;
      box-shadow:0 1px 0 #f0ffd2 inset;
      margin-right:10px;
      margin-bottom:10px;
    }
  }
}

.pagination {
  margin:30px auto;
  text-align:center;
  .next, .prev { 
    background:#539a2c;
    box-shadow:0 1px 1px #affa85 inset;
    border:1px solid #18310b;
    text-shadow:0 1px 1px #111;
    font-size:13px;
    border-radius:4px;
    padding:4px 8px;
    color:#fff;
    margin:0 12px;
  }
}

#footer {
  width:844px;
  margin:80px auto 0;
  
  #powered {
    float:left;
    margin-left:10px;
  }
  
  #copyright {
    margin-left:170px;
    color:#fff;
    text-shadow:0 1px 1px #111;
    height:36px;
    line-height:36px;
    
    a { color: #ffad1e }
  }
}