/*
Syntax error: Invalid CSS after "    background": expected "{", was "(images/polaroi..."
        on line 273 of master.scss

268:     box-shadow:0 1px 1px #d7f3ff inset;
269:     text-shadow:0 1px 1px #111;
270:   }
271:   
272:   #polaroid {
273:     background(images/polaroid.png) no-repeat;
274:     width:146px;
275:     height:166px;
276:     img {
277:       margin-top:9px;
278:       margin-left:9px;

Backtrace:
master.scss:273
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:929:in `expected'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:875:in `expected'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:870:in `tok!'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:379:in `block'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:374:in `ruleset'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:436:in `block in declaration_or_ruleset'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:913:in `call'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:913:in `rethrow'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:437:in `declaration_or_ruleset'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:399:in `block_child'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:388:in `block_contents'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:380:in `block'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:374:in `ruleset'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:436:in `block in declaration_or_ruleset'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:913:in `call'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:913:in `rethrow'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:437:in `declaration_or_ruleset'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:399:in `block_child'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:391:in `block_contents'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:380:in `block'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:374:in `ruleset'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:398:in `block_child'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:391:in `block_contents'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:59:in `stylesheet'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/scss/parser.rb:28:in `parse'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:327:in `_to_tree'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:247:in `render'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `each'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:293:in `block (4 levels) in watch'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/state/file.rb:19:in `refresh'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:265:in `watch'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/plugin.rb:107:in `method_missing'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/exec.rb:421:in `watch_or_update'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/exec.rb:302:in `process_result'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/exec.rb:41:in `parse'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/exec.rb:21:in `parse!'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/bin/sass:8:in `<top (required)>'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `load'
/Users/trivuong/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    background\": expected \"{\", was \"(images/polaroi...\"\A         on line 273 of master.scss\A \A 268:     box-shadow:0 1px 1px #d7f3ff inset;\A 269:     text-shadow:0 1px 1px #111;\A 270:   }\A 271:   \A 272:   #polaroid {\A 273:     background(images/polaroid.png) no-repeat;\A 274:     width:146px;\A 275:     height:166px;\A 276:     img {\A 277:       margin-top:9px;\A 278:       margin-left:9px;"; }
